@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC');
.navbar {
    background-color: rgb(161, 25, 25);
    border: .3em solid yellow;    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: oblique;
    box-shadow: 0px 16px 10px 0px #0000003d;
    margin: .3em 0em .8em 0em;
}


#nb-title{
    color: white;
    text-align: center;
    font-family: 'Bowlby One SC';
    width: 100vw;
    font-size: 7.5vw;
    text-decoration: none;
}

